.free_text {
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 0.2rem 0;
    color: #333;
    scrollbar-width: none;
    font-family: Roboto;
    line-height: 1.6;
    resize: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &::placeholder {
      font-size: 0.95rem;
      font-style: italic;
      color: #aaa;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid grey;

      &::placeholder {
        opacity: 0;
      }

      & + .outer_placeholder {
        display: inline;
      }
    }
  }

  .outer_placeholder {
    position: absolute;
    top: -1rem;
    left: 0;
    color: #aaa;
    font-size: 80%;
    letter-spacing: 0;

    display: none;
  }

  .field {
    margin: 6rem 0;
    position: relative;
  }

  .unit {
    position: absolute;
    right: 0;
    bottom: 0.7rem;
    font-size: 0.9rem;
  }
}

:global(.green) {
  .unit { color: rgb(108, 187, 154); }
  .free_text textarea:focus { border-bottom-color: rgb(108, 187, 154); }
}

:global(.yellow) {
  .unit { color: rgb(211, 191, 115); }
  .free_text textarea:focus { border-bottom-color: rgb(211, 191, 115); }
}

:global(.blue) {
  .unit { color: rgb(70, 137, 168); }
  .free_text textarea:focus { border-bottom-color: rgb(70, 137, 168); }
}

:global(.red) {
  .unit { color: rgb(187, 107, 115); }
  .free_text textarea:focus { border-bottom-color: rgb(187, 107, 115); }
}

:global(.purple) {
  .unit { color: rgb(112, 99, 142); }
  .free_text textarea:focus { border-bottom-color: rgb(112, 99, 142); }
}

:global(.black) {
  .unit { color: rgb(51, 51, 51); }
  .free_text textarea:focus { border-bottom-color: rgb(51, 51, 51); }
}
