.expander {
  margin-bottom: 1rem;
}

.header {
  background: #ccc;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:after {
    content: ">";
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  box-shadow: 0 0 0.2rem #333;
}

.inner {
  display: none;
}

.expanded {
  .header:after {
    transform: rotate(90deg);
  }

  .inner {
    display: block;
  }
}

.sticky {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
